
.num, .row{
	background-color: #33322E;
}

.num {
		height: 60px;
	width: 60px;
}

.sym{
	background-color: #8E8B7D;
	height: 48px;
	width: 52px;
	font-size: 25px;
}
.pane {
	float: left;
}

#blu {
	height: 240px;
	width: 6px;
	background-color: #00EBFF;
}

body {
	font-family: 'Oswald', sans-serif;
}

#btn_del {
	font-size: 20px;
}

button {
	border-radius: 0;
	border: 0;
	padding: 0;
	font-weight: 100;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	text-align: center;
}

.num:hover {
	border-radius: 30px;
	background-color: #C3C6C0;
}

.sym:hover {
	border-radius: 20px;
	background-color: #C3C6C0;
}

#simplecalc {
	width: 255px;
	margin: 0 auto;
}


#displayexpn {
	font-size: 40px;
}

#displayans {
	font-size: 28px;
	box-shadow: 0px 8px 6px -6px black;
}

.display {
	width: 246px;
	text-align: right;
	font-family: 'Roboto Condensed', sans-serif;
	border-style: solid;
	border-width: 0px;
	background-color: white;
}

.intro {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 5vh;
	text-align: center;
	background: url('intro.jpg') no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	color: white;
	height: 100vh;

}

#greeting {
	position: absolute;
	top: 10%;
	bottom: 40%;
	left: 40%;
	right: 40%;
}

.heading {
	font-family: 'Oswald', sans-serif;
	font-size: 7vh;
	color: #E1E2DF;
	text-align: center;
}

#html, #css, #php, #jscript, #python, #php {
	padding-right: 12vw;
	padding-left: 12vw;
	padding-top: 7vh;
	padding-bottom: 7vh;
	font-size: 3vh;

}

#html, #python, #php{
	float: left;
}

#jscript, #css {
	float: left;
}

#html:hover, #css:hover, #php:hover, #python:hover, #jscript:hover {
	background-color: #C3C6C0;
	border-radius: 2vh;

}

.languages {
	margin: 0 auto;
}

#code {
	background-color: #313131;
	color: #313149;
	height: 60vh;
}

@media (max-width: 480px) {
	.intro {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 7vw;
	text-align: center;
	background: url('intro.jpg') no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	color: white;
	height: 100vh;
	}

	.heading{
		font-size: 7vw;
	}
}